body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: rgb(202, 202, 202);
    margin: 0;
}

header {
    font-family: 'Koulen', cursive;
    text-align: center;
    font-size: 2em;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(36, 36, 36);
    border-color: white;
    border-left: none;
    border-right: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    position: relative;
}

#navbar {
    font-size: 1.2em;
    list-style: none;
    background-color: rgb(78, 78, 78);
    padding: 10px;
    margin-top: 0;
    border-style: solid;
    border-bottom-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1px;
}

.lista_da_navbar {
    text-align: center;
    padding: 8px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-left: none;
    border-right: none;
    border-top:none;
    border-width: 1px;
    margin-left: 10%;
    margin-right: 10%;
    transition: 0.5s;
}

.lista_da_navbar:hover {
    background-color: rgb(48, 48, 48);
    margin: 0;
}

.link_da_navbar {
    text-decoration: none;
    color:beige;
    border-width: 1px;
    border-radius:10px;
    padding: 5px;
    margin: 0;
}

.div_link_navegacao {
    text-align: center;
    background-color: rgb(184, 184, 184);
    margin-bottom: 0;
    padding: 10px;
}

.link_navegacao {
    text-decoration: none;
    font-size: 1.1em;
    color:rgb(58, 189, 156);
    transition: 0.5s;
}

.link_navegacao:visited {
    color: blueviolet;
}

.link_navegacao:hover {
    color: rgb(75, 72, 110);
}

.link_navegacao:active {
    color: rgb(27, 0, 78);
}

h1 {
    text-align: center;
    font-size: 2em;
    padding-top: 5%;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-size: 1.2em;
}

img {
    width: 29em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    transition: 0.5s;
}

img:hover{
    width: 30em;
    display: block;
}

.img_index {
    width: 24em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    transition: 0.5s;
}

.img_index:hover {
    width: 25em;
    display: block;
}


h2 {
    text-align: center;
    font-size: 1.7em;
}

table, th ,td {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

th {
    text-align: center;
}

td{
    text-align: center;
}

tr:nth-child(odd){
    background-color: #b1b1b1;
}

tr:hover {
    background-color: rgb(48, 48, 48);
    color: white;
}

footer {
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    text-align: center;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-width: 1px;
    
}

.nome_rodape {
    font-family: 'Koulen', cursive;
    text-align: center;
    font-size: 2em;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(36, 36, 36);
    border-color: white;
    border-left: none;
    border-right: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    position: relative;
}

.imagem_rodape {
    display: inline-block;
    font-size: 0.1em;
    transition: 0.5s;
    padding: 10px;
}

.imagem_rodape:hover {
    display: inline-block;
    font-size: 0.09em;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(48, 48, 48);
}

ol {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2em;
    text-align: justify;
    padding-left: 0;
}

