.background-body {
    background-color: rgb(122, 122, 122);
    color: white;
}

.background {
    background-color: rgb(0, 0, 0);
}

.background-header {
    background-color: rgb(0, 0, 0);
}

.img-size {
    width: 800px;
}

.nav-lista{
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-lista a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 11.440px;
    padding-top: 11.440px;
    transition: 0.3s;
}

.nav-lista a:hover {
    color:rgb(171, 207, 248);
}

.nav-lista-clicado{
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-lista-clicado a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 11.440px;
    padding-top: 11.440px;
    transition: 0.3s;
}

.nav-lista-clicado a:hover {
    color:rgb(171, 207, 248);
}

.nav-lista ul {
    background-color: rgb(34, 34, 34);
    text-align: center;
}


.item-dropdown:hover {
    background-color: antiquewhite;
    color: rgb(171, 207, 248);
}

.nav-lista-dropdown a{
    color: rgb(0, 0, 0);
}

.nav-lista-dropdown a:hover{
    background-color: white;
}

.nav-lista-dropdown :hover{
    color: rgb(171, 207, 248);
    background-color: white;
}

.nav-lista-dropdown2 a{
    color: rgb(255, 255, 255);
}

.nav-lista-dropdown2 a:hover{
    background-color: #000000
}

.nav-lista-dropdown2 :hover{
    color: rgb(171, 207, 248);
    background-color: white;
}

.paragrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.titulo {
    font-family: 'Roboto', sans-serif; 
    color: white;
}
